apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ service_account_name }}
  namespace: {{ namespace_name }}
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::{{ Sts.AccountId }}:role/{{ ref_role_name }}"
