{% set admin_role = Config.Admin | default('admin') %}
AWSTemplateFormatVersion: "2010-09-09"

Description: CloudFormation Resources
Parameters:
  Component:
    Type: String
    Description: Name of related component

Resources:
  BookStoreBucket:
    Type: "AWS::S3::Bucket"
    Properties:
      BucketName: !Sub "micro-dev-hub-book-store-${AWS::AccountId}-${Component}"
      Tags:
        - Key: Name
          Value: 
            Fn::Sub: "micro-dev-hub-book-store-${AWS::AccountId}"
Outputs:
  BookStoreBucketName:
    Description: "MicroDevHub BookStore Bucket Name"
    Value:
      Ref: BookStoreBucket
    Export:
      Name: "BookStoreBucket"
  BookStoreBucketURL:
    Description: "MicroDevHub BookStore Bucket URL"
    Value: 
      Fn::Sub: "${BookStoreBucket.WebsiteURL}"
    Export:
      Name: "BookStoreBucketURL"