{% for app_service in service_configs %}
---
apiVersion: v1
kind: Service
metadata:
  name: {{app_service.name}}
  labels:
    app: {{app_service.name}}
spec:
  type: NodePort
  ports:
    - name: http-{{app_service.name}}
      protocol: TCP
      nodePort: {{app_service.nodePort}}
      port: {{app_service.port}}
  selector:
    app: {{app_service.name}}

---
apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: {{app_service.name}}
  labels:
    app: {{app_service.name}}
spec:
  selector:
    matchLabels:
      app: {{app_service.name}}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{app_service.name}}
    spec:
      containers:
        - image: "{{docker_registry}}/{{app_service.container_name}}:{{app_service.container_tag}}"
          name: {{app_service.name}}
{% endfor %}